@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto" sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.tags-container {
  width: 600px;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.tags {
  display: inline-flex;
  margin: 0.5rem 1rem;
  border: 1px solid yellowgreen;
  border-radius: 5px;
  padding: 3px;
  box-shadow: -2px -2px 5px;
}

.bx {
  font-size: 1.2rem;
}
